@{
    ViewData["Title"] = "results";
}

@model Survey
<div class="container-info">
        <h2>Información</h2>

        <span>
            <label for="Name">Name:</label>
            <p>@Model.Name</p>
        </span>
        <span>
            <label for="Location">Dojo Location:</label>
            <p>@Model.Location</p>
        </span>
        <span>
            <label for="Language">Favorite Language:</label>
            <p>@Model.Language</p>
        </span>
        <span>
            <label for="Comment">Comment:</label>
            <p>@Model.Comment</p>
        </span>
        <a href="/"><button class="back">Volver</button></a>
    </div>